.message-headding{
    color: white;
    padding-top: 25px;
    padding-left: 10px;
    padding-bottom: 25px;
    background-color: #202047 !important;
    font-weight: 500;
    font-size: 18px;
}

.border-bottom {
    border-bottom: 1px solid !important;
}

.message-data{
 padding-left: 10px;
    padding-top: 25px;
    padding-bottom: 25px;
    
}


.data-p {
    
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    color: #606C6A;
}

.form-heading{
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    color: black;
  
}